<div class="user-left-panel flex flex-col gap-4">
  <%= image_tag @user.avatar.variant(resize_to_fill: [200, nil]), class: "avatar avatar-main" %>
  <div class="rounded-lg bg-violet-400 text-slate-800 shadow-xl shadow-slate-800 p-2 flex flex-col items-start gap-4">

    <% [:name, :email, :age].each do |item| %>
      <div class="flex flex-col">
        <%= content_tag :p, "/#{item}", class: "font-digital text-xs" %>
        <%= content_tag :p, @user.send(item) %>
      </div>
    <% end %>
  </div>
</div>
