<h2 class="user-username text-3xl font-semibold text-slate-300 drop-shadow-md flex gap-2 items-center">
  <%= @user.display_name %>
  <%= render 'relationship_image', user: user, relationship: relationship %>
</h2>
<% if current_user %>
  <%= render 'relationship_bar', user: user, relationship: relationship %>
<% end %>
