<div class="main-container">

  <div class="user-info-container">
    <%= image_tag @user.avatar.variant(resize_to_fill: [200, nil]), class: "avatar avatar-main" %>
  </div>

  <%= turbo_frame_tag id="Posts", src: user_posts_path(@user) do %>
    <p>Placeholder</p>
  <% end %>
</div>
