<div class="user-layout bg-violet-900 text-slate-100 rounded-2xl drop-shadow-lg p-4 rounded-tl-[108px]">
  <%= render 'profile_card' %>
  <div class="user-content">
    <div class="user-content-top mb-4">
      <h2 class="user-username text-3xl font-semibold text-slate-300 drop-shadow-md"><%= @user.display_name %></h2>
      <% if current_user %>
        <%= render 'relationship_bar', friend_id: @user.id %>
      <% end %>
    </div>
    <%= turbo_frame_tag id="Posts", src: user_posts_path(@user) %>
  </div>
</div>
