<div class="text-2xl font-digital drop-shadow">
  <%= link_to root_path, class: "flex items-center" do %>
    <%= image_tag 'controller-logo.svg', size: '50x50', class: "mr-2" %>
    <span class="text-white decoration-2">gamer</span>
    <span class="text-violet-400">/</span>
    <span class="text-lime-200">dex</span>
  <% end %>
</div>
