<div class="post post-placeholder">
  <span class="post-body"><%= "&nbsp;" * rand(25..50) %><br>
    <%= "&nbsp;" * rand(50..200) %>
  </span>
  <span class="post-time"><%= "&nbsp;" * 23 %></span>
</div>
