<div class="post-placeholder p-4 bg-slate-100 text-slate-900 rounded drop-shadow-lg" aria-hidden="true">
  <span class="bg-slate-200" aria-hidden>
    <%= ("&nbsp;" * 50).html_safe %>
    <br>
    <%= ("&nbsp;" * 15).html_safe %>
  </span>
</div>
