<div class="post post-placeholder" aria-hidden="true">
  <span class="post-body" aria-hidden>
    <%= ("&nbsp;" * rand(50..200)).html_safe %>
    <br>
    <%= ("&nbsp;" * rand(50..200)).html_safe %>
  </span>
</div>
