<div class="bg-violet-900 text-violet-50 rounded-2xl drop-shadow-lg">

  <%= turbo_frame_tag id="Posts" do %>
    <div class="post-main-container flex flex-col gap-8">
      <%= render 'new_form', post: @post, user: @user if current_user %>
      <div id="posts-container" class="flex flex-col gap-1">
        <%# append posts from turb stream here %>
      </div>
      <%= turbo_frame_tag "pagination", src: user_posts_path(@user, format: :turbo_stream), loading: :lazy do %>
        <%= render 'posts_placeholder', page_size: @page_size %>
      <% end %>
    </div>
  <% end %>
</div>
