.link-main::before {
    content: '↗'
}

.user-layout {
    display: grid;
    grid-template-columns: auto 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "left-panel content right-panel";
    gap: 1rem;
}

.user-username {
    grid-area: username;
}

.user-left-panel {
    grid-area: left-panel;
}

.user-right-panel {
    grid-area: right-panel;
}

.user-content {
    grid-area: content;
}

.pixel-bg {
    background-image: url('pixel-vector-10.png');
    background-repeat: repeat-x;

}

input:checked~.dot {
    transform: translateX(100%);
    background-color: #48bb78;
}